<div class="ui labeled icon button" ng-click="addOpen()">
  <i class="add icon"></i>
  Add Alternative
</div>


<table class="ui basic three column table segment">
  <thead>
    <tr>
      <th>Title</th>
      <th>Cost</th>
      <th class="ui right aligned">Activity</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="a in alternatives">
      <td editable-text="a.name" buttons="no" title="Press to Edit">{{a.name}}</td>
      <td editable-number="a.price" buttons="no" title="Press to Edit">{{a.price | number}}</td>
      <td>
        <div class="floated right mini red ui labeled button" ng-click="remove(a)">
          <i class="remove icon"></i>
          Remove
        </div>
      </td>
    </tr>
  </tbody>
</table>


<modal ng-model="isAddVisible">
  <div class="header">
    New Alternative
  </div>
  
  <div class="content ui form">
    <div class="field">
      <label>Title</label>
      <div class="ui left labeled icon input">
        <input type="text" placeholder="Title Alternatives" ng-model="newAlt.name" />
        <i class="tag icon"></i>
      </div>
    </div>
    <div class="field">
      <label>Cost</label>
      <div class="ui left labeled icon input">
        <input type="number" placeholder="Cost Alternatives" ng-model="newAlt.price" />
        <i class="dollar icon"></i>
      </div>
    </div>
  </div>
  
  <div class="actions">
    <div class="ui negative labeled icon button" ng-click="addClose()">
      <i class="remove icon"></i>
      Remove
    </div>
    <div class="ui positive right labeled icon button" ng-click="add()">
      Add
      <i class="checkmark icon"></i>
    </div>
  </div>
</modal>